
#install
- name: Install Grafana data container
  docker_volume:
    name: grafana_data

- name: Install Grafana log container
  docker_volume:
    name: grafana_log

  # docker_container:
  #   name: grafana-data
  #   image: busybox:1.32.0
  #   state: started
  #   restart: yes
  #   restart_policy: on-failure
  #   restart_retries: 4
  #   volumes:
  #     - /var/lib/grafana
  #     - /var/log/grafana
  #     - /var/lib/grafana/plugins


- name: Install Grafana
  docker_container:
    name: grafana
    image: "{{ docker_containers.grafana.image }}"
    state: started
    restart: yes
    restart_policy: on-failure
    restart_retries: 4
    links:
      - influxdb:influxdb
    privileged: false
    purge_networks: no
    ports:
      - '3000:3000'
    volumes:
      - grafana_data:/var/lib/grafana
      - grafana_log:/var/log/grafana
    env:
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "admin"
      GF_SECURITY_SECRET_KEY: "grafana"
      GF_USERS_ALLOW_SIGN_UP: "true"
      GF_USERS_ALLOW_ORG_CREATE: "true"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_NAME: "grafana"
      GF_DASHBOARDS_JSON_ENABLED: "true"
      GF_DASHBOARDS_JSON_PATH: "/opt/grafana"
      GRAFANA_PLUGINS_ENABLED: "false"
